@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$web: 1199px;
$tabletB: 899px;
$tabletM: 799px;
$tabletS: 699px;
$mobile: 469px;

@import 'header';
@import 'content';

.main,
.header {
  min-width: 425px;
}
