.wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 120px;
  border: 2px solid black;
  margin-top: 24px;
  margin-left: 10px;
}

.wrap p {
  font-size: 24px;
}
