@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.body {
  width: 100%;
  height: 100vh;
  background: #000;

  main {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: 3s;
    z-index: 1;

    &.on {
      opacity: 1;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
    }
  }

  p {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 3s;
    z-index: 1;

    &.on {
      opacity: 1;
    }

    .logo {
      width: 180px;
    }
  }

  aside {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'orbitron';
    letter-spacing: 2px;
    color: #fff;
    background: #111;
    transition: 2.5s;

    &.off {
      opacity: 0;
    }
  }
}
